@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

// ===== COLORS =====
:root {
    --main-color: #458FF6;
    --dark-color: #000;
    --white-color: #fff;
    --gray-color: #7D7987;
    --blue-color-light: #5B9BF3;
}

//  ===== MARGINES =====
:root {
    --mb-1: 1.3rem; // 22px
    --mb-2: 1.6rem; // ~26px
    --mb-3: 2rem;
    --mb-4: 2.5rem; // 40px
    --mb-5: 2.8rem; // ~45px
    --mb-6: 4.3rem; // ~69px
}

// ===== FONT WEIGHT =====
:root {
    --font-light: 300;
    --font-normal: 400;
    --font-bold: 700;
}

:root {
    --body-font: 'Mulish', sans-serif;
}

// ===== FONT SIZES =====
:root {
    --big-font: 3rem;
    --l-size: 2.25rem; //36px
    --m-size: 1.5rem; //24px
    --sm-size: 1.3rem; // ~21px
    --s-size: 1.125rem; //18px
    --xs-size: 1rem;
}


:root {
    --header-height: 3rem;
}

:root {
    --z-fixed: 100;
}

// ===== BASE =====
html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}


body {
    margin: var(--header-height) 0 0 0;
    font-family: 'Mulish', sans-serif;
    font-size: var(--s-size);
    color: var(--dark-color);
    font-weight: var(--font-normal);
    line-height: 1.6;
}

/*===== Common =====*/
.section {
    padding: 3rem 0;

    &__title {
        font-weight: var(--font-bold);
        color: var(--dark-color);
        text-align: center;
        font-size: 30px;
        position: relative;
        margin-bottom: 33px;



        &::after {
            content: '';
            position: absolute;
            display: block;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 56px;
            height: 2px;
            background-color: var(--dark-color);
            border-radius: 5px;

        }
    }

    &__text {
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
        font-weight: var(--font-light);
        color: var(--gray-color);
        font-size: 10px;
    }

    &__btn {
        padding: 11px 26px;
        display: inline-block;
        background: transparent;
        border-radius: 55px;
        font-weight: var(--font-bold);
        color: var(--main-color);
        border: 1.4px solid var(--main-color);
        font-family: var(--body-font);
        cursor: pointer;
        font-size: 18px;
        transition: .4s;

        &:hover {
            background-color: var(--main-color);
            color: var(--white-color);
        }

        &-blue {
            background-color: var(--main-color);
            border: 1.4px solid var(--main-color);
            color: #fff;

            &:hover {
                background-color: var(--white-color);
                color: var(--main-color);
            }
        }
    }

    &__mini-description {
        max-width: 445px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }

    &__mini-title {
        color: var(--dark-color);
        margin-bottom: 1rem;
        font-size: 31px;
        position: relative;
        margin-bottom: 30px;

        &__outline::after {
            content: '';
            position: absolute;
            width: 56px;
            height: 2px;
            background-color: var(--dark-color);
            border-radius: 10px;
            display: block;
            left: 0;
            margin-left: 0;
            margin-top: 8px;
        }
    }



    &__mini-text {
        font-weight: var(--font-light);
        font-size: var(--xs-size);
        color: var(--gray-color);
        margin-bottom: var(--mb-1);
    }

    &__mini-img {
        max-width: 300px;
        margin: 0 auto;
    }
}


.btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}


.white {
    position: relative;
    margin-bottom: 44px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 56px;
        height: 2px;
        background-color: var(--white-color);
        border-radius: 5px;
        margin-top: 5px;

    }
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1240px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--white-color);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;
        column-gap: 12px;
        color: #233348;
        font-weight: var(--font-bold);
        font-size: var(--s-size);
    }

    &__toggle {
        color: var(--main-color);
    }

    @media screen and (max-width:768px) {
        &__menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 1.5rem 0;
            background-color: var(--white-color);
            transition: .5s;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
            border-radius: 0 0 1rem 1rem;
            z-index: var(--z-fixed);
        }
    }

    &__item {
        margin-bottom: var(--mb-1);
    }

    &__link {
        font-size: var(--xs-size);
        font-weight: var(--font-bold);
        color: #1F1534;
        opacity: 0.5;
        transition: .3s;

        &:hover {
            opacity: 1;
        }

    }

}

.show-menu {
    top: var(--header-height);
}

.active-link {
    color: #1F1534;
    opacity: 1;
}

.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.white {
    color: var(--white-color);
}

/* ===== HOME ===== */

.home {
    background: url("../img/bg/element.png") no-repeat top 12% left;

    &__container {
        height: calc(100vh - var(--header-height));
        align-content: center;
        gap: var(--mb-4);
    }


}

/* ===== SERVICES ===== */
.services {
    background: url('../img/services/bg-services.png') no-repeat top -10px left;

    &__container {
        position: relative;
        // grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        row-gap: 2.5rem;
        z-index: 10;
    }

    &__element {
        position: absolute;
        right: -5%;
        top: 39%;
        bottom: 0;
        z-index: -1;
    }

    &__item {
        background: var(--white-color);
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        max-width: 350px;
        margin: 0 auto;
        padding: 46px 38px;
    }

    &__icon {
        width: 20%;
        height: auto;
        margin-bottom: 10px;

        img {
            width: 90px;
        }
    }

    &__title {
        font-weight: var(--font-bold);
        font-size: var(--m-size);
        line-height: 56px;
    }

    &__text {
        font-size: var(--xs-size);
        font-weight: var(--font-light);
        color: var(--gray-color);
    }


}

/* ===== APPS SECTION =====*/
.apps {
    background: url('../img/bg/element.png') no-repeat center right 1%;

    &__container {
        row-gap: 10rem;
    }

    &__item {
        display: grid;
        row-gap: 2rem;
    }

    &__btn {
        display: inline-flex;
        align-items: center;

        i {
            padding-left: 6px;
        }
    }

}


// REVIEWS
.reviews {
    background: url('../img/bg/element.png') no-repeat bottom 85px left 6%;

    &__container {
        background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
        border-radius: 24px;
        color: var(--white-color);
        padding: 10px 30px;
        position: relative;
        max-width: 1120px;
    }

    &__element {
        position: absolute;
        right: -28px;
    }

    &__person {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;

        img {
            width: 90px;
        }

        @media screen and (max-width:768px) {}

        &-name {
            font-weight: var(--font-bold);
            font-size: 18px;

            span {
                display: block;
                font-size: 10px;
            }
        }
    }

    &__text {
        font-size: 14px;
    }

}

/* ===== ABOUT US ===== */

.about {
    &__container {
        max-width: 1120px;
        row-gap: 2rem;
    }

    &__item {
        background-color: var(--white-color);
        box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
        border-radius: 20px;
        max-width: 319px;
    }

    &__description {
        padding: 15px;
    }

    &__title {
        font-size: var(--sm-size);
        margin-bottom: 12px;
    }

    &__text {
        font-size: var(--xs-size);
        color: var(--gray-color);
        font-weight: var(--font-light);
        margin-bottom: 20px;
    }

    &__btn {
        display: flex;
        align-items: center;
        color: var(--main-color);
        font-size: var(--xs-size);
        font-weight: 600;
        padding-bottom: 15px;

        i {
            padding-left: 3px;
            padding-top: 2px;
        }
    }
}

/* ===== Footer ===== */
.footer {
    padding: 6rem 0;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    position: relative;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        row-gap: 2rem;
        max-width: 1170px;
    }

    &__item {
        max-width: 390px;
    }

    &__logo {
        padding-top: 9px;
        display: flex;
        align-items: center;
        color: var(--white-color);
        font-size: var(--sm-size);

        img {
            padding-right: 3px;
        }
    }

    &__text {
        margin-top: 21px;
        font-weight: var(--font-light);
        font-size: var(--s-size);
        color: var(--white-color);
    }

    &__copyright {
        font-weight: var(--font-light);
        font-size: var(--xs-size);
        color: var(--white-color);
    }

    &__head {
        font-weight: var(--font-bold);
        font-size: var(--sm-size);
        color: var(--white-color);
        line-height: 60px;
    }

    &__item,
    &__link {
        font-weight: var(--font-light);
        font-size: var(--s-size);
        color: var(--white-color);
    }

    &__element {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

/* ===== MEDIA QUERIES ===== */
@media screen and (max-width:768px) {
    .home {
        background: none;
    }

    .services__element,
    .about__element,
    .about__element-2,
    .footer__element {
        display: none;
    }
}

@media screen and (min-width:768px) {
    .nav {
        &__list {
            display: flex;

        }

        &__item {
            margin-bottom: 0;

            &+& {
                margin-left: 15px;
            }
        }

        &__toggle {
            display: none;
        }
    }

    .services {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .reviews {
        &__description {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__text {
            max-width: 50%;
        }

        &__person {
            order: -1;
        }
    }

    .about {
        background: url('../img/article/element.png') no-repeat top right;

        &__container {
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        }
    }

    .about {
        position: relative;

        &__element {
            position: absolute;
            left: 19%;
            top: 130px;
            z-index: -1;
        }

        &__element-2 {
            position: absolute;
            bottom: -41px;
            right: 60px;
        }
    }

    .footer {
        &__container {
            align-content: center;
        }
    }
}

@media screen and (min-width:1024px) {
    .bd-grid {
        margin: 0 auto;
    }

    .section__text {
        max-width: 950px;
        font-size: var(--s-size);
    }

    .section__mini-img {
        max-width: inherit;

        &.left {
            order: -1;
        }
    }


    .nav {
        &__link {
            font-size: var(--s-size);
        }
    }

    .home {
        &__container {
            grid-template-columns: repeat(2, 1fr);
            align-content: center;
            align-items: center;
            margin: 0 auto;
        }

        .section__mini-title {
            font-size: var(--big-font);
        }

        .section__mini-text {
            font-size: var(--sm-size);
        }
    }

    .services {
        &__container {
            max-width: 1120px;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .apps {


        &__item {
            .section__mini-description {
                margin-right: 0;
            }

            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            column-gap: 3rem;
        }
    }

    .reviews {
        background: url('../img/bg/element.png') no-repeat bottom 85px left 21%;

        &__container {

            padding: 64px 118px;
        }
    }

    .about {
        position: relative;
        padding-bottom: 9rem;

        &__container {
            padding-top: 40px;
        }

        &__element {
            position: absolute;
            left: 6%;
            top: 14%;
            z-index: -1;
        }

        &__element-2 {
            position: absolute;
            bottom: -41px;
            right: 60px;
        }
    }
}